*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    background: url("https://jbsoftware.ca/wp-content/uploads/web-design.jpg");
    object-fit: cover;    
}

:root{
    --x : 100px;
    --y : 100px;
}

.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.964));
}