* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}

.card {
  height: fit-content;
  width: 22vw;
  box-shadow: 2px 2px 8px gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img {
  height: 50vh;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name{
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 800;
}

.btn{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(28, 28, 28);
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
}

.btn:active{
    scale: .95;
}
