* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.btn{
    background-color: rgb(244, 50, 50);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    z-index: 99;
}

.btn:hover{
    background-color: rgb(245, 31, 31);
}

.btn:active{
    scale: .95;
}

