*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(18, 15, 15), rgb(28, 28, 28));
    display: flex;
    justify-content: center;
    align-items: center;

}

.outer{
    height: 95vh;
    width: 25vw;
    border-radius: 10px;
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}


.reel{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin-bottom: 18px;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bottom{
    height: 20vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile{
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
}

.row1{
    display: flex;
    align-items: center;
    padding: 7px 15px;
    gap: 8px;
    font-weight: 900;
}

.row1 h2{
    font-size: 18px;
    color: white;
}

.row1 button{
    border: 1px solid white;
    padding: 2px 4px;
    color: white;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
}

.bottom p{
    font-size: 20px;
    color: white;
    padding: 7px 15px;
    width: 100%;
}

.left{
    position: absolute;
    /* background-color: red; */
    bottom: 15%;
    right: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.left-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer !important;
}

.left-div i{
    font-size: 28px;
}

.liked{
    color: red;
}