* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* height: 30vh; */
  width: 50%;
  background-color: #fff;
  color: black;
  padding: 20px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.down {
  color: blue;
  text-decoration: underline;
}

.outer {
  height: 4vh;
  background-color: rgb(179, 170, 170);
  margin-top: 20px;
  border-radius: 5px;
}

.inner{
    height: 100%;
    background-color: rgb(64, 199, 64);
    border-radius: 5px;
    width: 0%;
}

.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.bottom h2{
    font-size: 32px;
    font-family: monospace;
}

.bottom button {
  padding: 12px 24px;
  background-color: rgb(64, 199, 64);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.bottom button:hover {
  background-color: rgb(49, 167, 49);
}

.bottom button:active{
    scale: .95;
}

.para{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(19, 184, 19);
}
